In [41]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [42]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [43]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [44]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter((extract('month', Measurement.date) == 6))

In [45]:
#  Convert the June temperatures to a list.
results = results.all()

In [46]:
# Create a DataFrame from the list of temperatures for the month of June. 
temp_june_df = pd.DataFrame(results, columns=['tobs'])
temp_june_df

      tobs
0     78.0
1     76.0
2     78.0
3     76.0
4     77.0
...    ...
1695  79.0
1696  74.0
1697  74.0
1698  76.0
1699  75.0

[1700 rows x 1 columns]

In [47]:
# Calculate and print out the summary statistics for the June temperature DataFrame.
temp_june_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [48]:
# Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter((extract('month', Measurement.date) == 12))

In [49]:
# Convert the December temperatures to a list.
results = results.all()

In [50]:
# Create a DataFrame from the list of temperatures for the month of December. 
temp_december_df = pd.DataFrame(results, columns=['tobs'])
temp_december_df

      tobs
0     76.0
1     74.0
2     74.0
3     64.0
4     64.0
...    ...
1512  71.0
1513  71.0
1514  69.0
1515  65.0
1516  65.0

[1517 rows x 1 columns]

In [51]:
# Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temp_december_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additional queries

In [58]:
# precipitation level for June
results = session.query(Measurement.prcp).filter((extract('month', Measurement.date) == 6)).all()
prcp_june_df = pd.DataFrame(results, columns=['precipitation'])
prcp_june_df.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [59]:
# precipitation level for December
results = session.query(Measurement.prcp).filter((extract('month', Measurement.date) == 12)).all()
prcp_december_df = pd.DataFrame(results, columns=['precipitation'])
prcp_december_df.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000

In [66]:
# total precipitation for June grouped by year
session.query(Measurement.date, func.sum(Measurement.prcp)).group_by(extract('year', Measurement.date)).filter((extract('month', Measurement.date) == 6)).order_by(Measurement.date.asc()).all()

[('2010-06-01', 9.799999999999997),
 ('2011-06-01', 50.910000000000004),
 ('2012-06-01', 18.830000000000002),
 ('2013-06-01', 29.560000000000002),
 ('2014-06-01', 24.74999999999999),
 ('2015-06-01', 23.53),
 ('2016-06-01', 36.730000000000004),
 ('2017-06-01', 20.519999999999996)]

In [65]:
# total precipitation for December grouped by year
session.query(Measurement.date, func.sum(Measurement.prcp)).group_by(extract('year', Measurement.date)).filter((extract('month', Measurement.date) == 12)).order_by(Measurement.date.asc()).all()

[('2010-12-01', 105.59000000000007),
 ('2011-12-01', 43.34000000000002),
 ('2012-12-01', 18.099999999999998),
 ('2013-12-01', 36.0),
 ('2014-12-01', 38.63),
 ('2015-12-01', 27.460000000000004),
 ('2016-12-01', 35.509999999999984)]

In [86]:
# count precipitation for June grouped by year
session.query(Measurement.date, func.count(Measurement.prcp)).group_by(extract('year', Measurement.date)).filter(Measurement.prcp >= 1).filter((extract('month', Measurement.date) == 6)).order_by(Measurement.date.asc()).all()

[('2011-06-04', 13),
 ('2012-06-20', 2),
 ('2013-06-26', 6),
 ('2014-06-09', 4),
 ('2015-06-30', 6),
 ('2016-06-01', 7),
 ('2017-06-15', 1)]

In [87]:
# count precipitation for December grouped by year
session.query(Measurement.date, func.count(Measurement.prcp)).group_by(extract('year', Measurement.date)).filter(Measurement.prcp >= 1).filter((extract('month', Measurement.date) == 12)).order_by(Measurement.date.asc()).all()

[('2010-12-10', 33),
 ('2011-12-13', 11),
 ('2012-12-05', 3),
 ('2013-12-02', 14),
 ('2014-12-04', 15),
 ('2015-12-19', 4),
 ('2016-12-02', 8)]